@font-face {
      font-family: 'Minecraft';
      src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

button{
    font-weight: 500;
    font-size: 17px;
    background: rgba(255,255,255,0.4);
    cursor:pointer;
}
#createdashboard,
#logindashboard,
#info{
    animation: fadeIn 0.4s ease;
}



input{
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

p,h1,button{
    text-align: center;
}

h1{
    font-size: 45px;
    font-weight: 500;
}

input{
    border: 2px solid black;
    border-radius: 2px;
    display: block;
    margin: 10px auto;
}

input:hover{
    border: 3px solid rgb(76, 162, 76);
    border-radius: 3px;
}

button:hover{
    border: 3px solid rgb(76, 162, 76);
    border-radius: 10px;

}

button,h1,p{
    text-decoration: underline;
    font-family: "Minecraft";

}

button{
    text-decoration: none;
}

#login,#create_process{
    display: block;
    width: 180px;
    margin: 10px auto;
}

div#createdashboard p{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

div#createdashboard{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    width: 400px;
    height: 450px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
    p{
        color: rgb(0, 0, 0);
    }
    background-image: url("minecraft.png");
    background-size: cover;
    background-position: center;

}
div#logindashboard{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    width: 450px;
    height: 400px;
    margin: 20px auto;
    border-radius: 2px;
    p{
        color: rgb(0, 0, 0);
    }
    background-image: url("minecraft.png");
    background-size: cover;
}

div#logindashboard p{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#accbtns{

    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px auto; margin-top: 10px ;
    margin-bottom: 10px;
}

/* After LOGGIN */

#dashboardbtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;

}
#info{
    border: 2px solid;
    width: 400px;
    height: 350px;
    margin: 10px auto;
    background-image: url("minecraft.png");
    background-size: cover;
    background-position: center;
}

#infotext{

    text-decoration: none;
    padding-top: 90px;
}
#info p{
    text-decoration: none;
    font-size: 18px;
}

#logindashboard{
    padding-top: 90px;
}